<!doctype html>
<html lang="en">
<head>

    <title>{% block title %}WebBoard{% endblock %}</title>
</head>

<body>
  <form class="d-flex">
      {% if user.is_authenticated %}
          <a href="#" tabindex="-1" aria-disabled="true">Welcome to WebBoard,{{ user.username }}</a>
          <a href="{% url 'logout' %}" >Logout</a>
      {% else %}
          <a href="{% url 'signup' %}" >Sign up</a>
          <a href="{% url 'login' %}" >Login</a>
      {% endif %}
                
  </form>

{% block content %}
{% endblock %}

  
  </body>
</html>