{% extends 'base.html' %}

{% block content %}

    <h2>Create Topic</h2>
    <form method="POST" action="{% url 'create_topic' %}">
        {% csrf_token %}

        <ul>
            <p>Title</p>
            <textarea style="font-size: 12pt" rows="4" cols="50" name="title" ></textarea>
            <p>Content</p>
            <textarea style="font-size: 12pt" rows="4" cols="50" name="content"></textarea>
            <br>
        </ul>

        <button type="submit" class="btn btn-success">Create</button>
    </form>

{% endblock %}