{% extends 'base.html' %}

{% block content %}

    <h1>{{select_topic}}</h1>
    <ul>{{select_topic.content}}</ul>

    <strong>account : {{ select_topic.user_name }}</strong> 

    {% if user.is_authenticated %}
        {% if user.username|striptags == select_topic.user_name|striptags %}
            <a href="{% url 'edit_topic' select_topic.topicid %}">Edit</a> /
            <a href="{% url 'delete_topic' select_topic.topicid %}">Delete</a>
        {% endif %}
    {% endif %}
    <p>asked : {{time_create_topic}}</p>

    <br>

    <h4>Comment</h4>
    <ul class="list-group">
        {% for comment in comment_topic %}
            <p>{{ comment }}</p>
            <strong>account : {{comment.comuserid}}</strong>
            {% if user.is_authenticated %}
                {% if user.username|striptags == comment.comuserid|striptags %}
                    <a href="{% url 'edit_comment' comment.commentid %}">Edit</a>
                    <a href="{% url 'delete_comment' comment.commentid %}">/ Delete</a>
                    <br>
                {% endif %}
            {% endif %}
            <p>answered : {{comment.date}}</p>
            <br>
        {% endfor %}
    </ul>
    <br>

    <h4>Edit Comment</h4>
        <form method="POST" action="{% url 'edit_comment' select_comment.commentid %}">
            {% csrf_token %}
            <textarea style="font-size: 12pt" rows="4" cols="50" name="content">{{select_comment}}</textarea>
            <br>

            <button type="submit">Done</button>
        </form>

{% endblock %}