{% extends 'base.html' %}

{% block content %}
    <h2>Homepage</h2>
    <p>Welcome to Web Board , {% if user.is_authenticated %}{{ user.username  }}{% else %}visitor{% endif %}!</p>
    <p>
        <strong>Total users registered :</strong> {{ count }}
    </p>

    <form action="{% url 'create_topic' %}">
        <input type="submit" value="Create Topic" />
    </form>
    <div>
        <ul class="list-group">
            {% for item in topic_all %}
                {{ item.topicid }}
                {{ item.title }}
                {{ item.content }}
                <form action="{% url 'create_comment' %}" enctype="multipart/form-data">
                    <input type="hidden" name="topicid" value = '{{ item.topicid }}' >
                    <input type="submit" value="Create Comment" />
                </form>
            {% endfor %}

        </ul>

    </div>
{% endblock %}