{% extends 'base.html' %}

{% block content %}
    <h2>Homepage</h2>
    <p>Welcome to Web Board , {% if user.is_authenticated %}{{ user.username  }}{% else %}visitor{% endif %}!</p>
    <p>
        <strong>Total users registered :</strong> {{ count }}
    </p>

    <form action="{% url 'create_topic' %}">
        <input type="submit" value="Create Topic" />
    </form>
    <div>

        <ul class="list-group">
            {% for item in topic_all %}
                <a href="{% url 'view_topic' item.topicid %}">{{ item.title }}</a>
                <br><br>
            {% endfor %}
        </ul>

    </div>
{% endblock %}