{% extends 'base.html' %}

{% block content %}

    <form action="{% url 'create_topic' %}">
        <h1>All Topic</h1>
        <input type="submit" class="btn btn-success" value="Create Topic" />
    </form>
</div>

<div class="container">
    <br>
    <ul class="list-group">
        {% for item in topic_all %}
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <a href="{% url 'view_topic' item.topicid %}" class="btn btn-primary">See More</a>
                </div>
            </div>
            <br>
        {% endfor %}
    </ul>
</div>

    
{% endblock %}