{% extends 'base.html' %}

{% block content %}

    <h1>{{select_topic}}</h1>
    <ul>{{select_topic.content}}</ul>

    <strong>account : {{ select_topic.user_name }}</strong> / 
    <a href="{% url 'edit_topic' select_topic.topicid %}">Edit</a> /
    <a href="{% url 'delete_topic' select_topic.topicid %}">Delete</a>

    <br><br>

    <h4>Comment</h4>
    <ul class="list-group">
        {% for comment in comment_topic %}
            <p>{{ comment }}</p>
            <strong>account : {{comment.comuserid}}</strong>
            <a href="{% url 'edit_comment' comment.commentid %}">Edit</a> /
            <a href="{% url 'delete_comment' comment.commentid %}">Delete</a>
            <br>
        {% endfor %}
    </ul>
    <br>

    <h4>Create Comment</h4>
        <form method="POST" action="{% url 'create_comment' select_topic.topicid %}">
            {% csrf_token %}
            <textarea style="font-size: 12pt" rows="4" cols="50" name="content">{{select_comment}}</textarea>
            <br>

            <button type="submit">Create</button>
        </form>

{% endblock %}