{% extends 'base.html' %}

{% block content %}

    <h1>{{select_topic}}</h1>
    <ul>{{select_topic.content}}</ul>

    <strong>account : {{ select_topic.user_name }}</strong>

    <br><br>

    <h4>Comment</h4>
    <ul class="list-group">
        {% for comment in comment_topic %}
            <p>{{ comment }}  {{comment.comuserid}}</p>
            <strong>account : {{comment.comuserid}}</strong>
            <br><br>
        {% endfor %}
    </ul>

    <h4>Create Comment #{{ select_topic.topicid }}</h4>
        <form method="POST" action="{% url 'create_comment' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="fkid" value = '{{ select_topic.topicid }}' >
            <button type="submit">Create</button>
        </form>

{% endblock %}