{% extends 'base.html' %}

{% block content %}

<div class="card w-100">
    <div class="card-body">

        <h1>{{select_topic}}</h1>
        <ul>{{select_topic.content}}</ul>
        <hr>
        
        {% if user_like|striptags == user.username|striptags %}
            <a class="btn btn-outline-primary" href="{% url 'unlike_topic' select_topic.topicid %}">Unlike</a>
            - {{ select_topic.like }} Likes
        {% else %}
            <a class="btn btn-primary" href="{% url 'like_topic' select_topic.topicid %}">Like</a>
            - {{ select_topic.like }} Likes
        {% endif %}

        <div style="float: right;">
                <p>By : {{ select_topic.user_name }}
                    
                {% if user.is_authenticated %}
                    {% if user.username|striptags == select_topic.user_name|striptags %}
                    (
                        <a href="{% url 'edit_topic' select_topic.topicid %}">Edit</a>
                    |
                        <a href="{% url 'delete_topic' select_topic.topicid %}">Delete</a>
                    )
                    {% endif %}
                {% endif %}
                </p> 
                <p style="text-align:right;">asked : {{time_create_topic.date}}</p>
        </div>
    </div>
</div>
    <br>

    <strong>Comment</strong><br>
    
    <ul>
        {% for comment in comment_topic %}
            <div class="card w-100">
                <div class="card-body">
                    <p>{{ comment }}</p>
                    <hr>
                    <p>By : {{comment.comuserid}}
                    {% if user.is_authenticated %}
                        {% if user.username|striptags == comment.comuserid|striptags %}
                        (
                            <a href="{% url 'edit_comment' comment.commentid %}">Edit</a>
                        |
                            <a href="{% url 'delete_comment' comment.commentid %}">Delete</a>
                        )
                            <br>
                        {% endif %}
                    {% endif %}
                    </p>
                    <p>answered : {{comment.date}}</p>
                </div>
            </div>
            <br>
        {% endfor %}
            
    </ul>
    <br>

    <strong>Create Comment</strong>
    <ul>
        <form method="POST" action="{% url 'create_comment' select_topic.topicid %}">
            {% csrf_token %}
            <textarea style="font-size: 12pt" rows="4" cols="50" name="content">{{select_comment}}</textarea>
            <br>

            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </ul>
{% endblock %}